.inputBox{
    border-top:transparent;
    border-right:transparent;
    border-left:transparent;
    border-bottom: 1px solid rgb(170, 168, 168);
    width : 80%;
}
.contact{
    width : 70%;
    height:100%;
    margin:auto;
    align-items: center;
    padding :5%;
}
.info{
    background-color: #d32a0c;
    color:white;
    padding:5%;
    border-radius: 1%;
}
.subtitle{
    color:rgb(200, 196, 196);
    font-weight: 100;
    
}

.btnn{
    width:50%;
    align-self: center;
    background-color: #d32a0c;
    margin-bottom:10px;
    height:50px;
    border:transparent;
    border-radius:5px;

}

.btnh4{
    font-weight: 750;
    font-size: medium;
    color:white;
    margin-bottom: 10px;
}

.ic{
    width:30px;
    height: 30px;
}

.information{
    font-weight: 400;
}