.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .autocomplete > input {
    width: 80%;
  }
  .item-container {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    z-index: 10;
    top: 100%;
    left: 0;
    right: 0;
  }
  .item-container div {
    padding: 5px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #878787;
    width: 100%;
  }
  .item-container div:not(:first-child) {
    border-top: none;
  }
  .item-container div:hover {
    background-color: #878787;
  }
  
  .item-active {
    background-color: dodgerblue !important;
    color: white;
  }